version: '3.1'
services:
  game:
    image: {{(datasource "config").image}}:{{(datasource "config").version}}
    ports:
      - "27015:27015/tcp"
      - "27015:27015/udp"
      - "27020:27020/udp"
      - "27005:27005/udp"
    environment:
      - LGSM_IP="0.0.0.0"
