version: '3.2'
services:
  game:
    image: {{if (getenv "OGP_DOCKER_NAMESPACE")}}{{.Env.OGP_DOCKER_NAMESPACE}}{{else}}{{(datasource "config").namespace}}{{end}}/{{(datasource "config").image}}:{{(datasource "config").version}}
    ports:
      - target: {{(datasource "config").port}}
        published: {{(datasource "config").port}}
        protocol: tcp
        mode: host
      - target: {{(datasource "config").port}}
        published: {{(datasource "config").port}}
        protocol: udp
        mode: host
    volumes:
      - "/home/steam/linuxgsm/logs"
      - "/home/steam/linuxgsm/serverfiles/{{(datasource "config").dataVol1}}"
    deploy:
#      placement:
#        constraints: [node.role == manager]
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
    environment:
      - bind_gateway={{(datasource "bind").bind_gateway}}
      - LGSM_PORT={{(datasource "config").port}}
      - LGSM_MAXPLAYERS={{(datasource "config").maxplayers}}
